@media (max-width: 1024px) {
  .footer {
    padding: 1rem;
    gap: 2rem;
  }
}

@media (min-width: 1024px) {
  .footer {
    padding: 2rem;
    gap: 4rem;
  }

}

.footer {
  bottom: 0;
  gap: 1rem;
  width: 100%;
  min-height: 10rem;
  background-color: #f8f8f8;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.copyright {
  max-width: min(90vw, 16rem);
  display: flex;
  flex-direction: column;
}

.categories {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  & > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    gap: 0 1rem;
  }
  & li {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    & > a {
      text-decoration: underline;
    }
  }
}

.cat_title {
}