html,
body {
  padding: 0;
  margin: 0;
  font-family: "Outfit", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #353535
}

p {
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

hr {
  border: 0.25rem solid #eaeaea;
  margin: 0 1rem;
}

.styled_a {
  font-weight: 600;
  text-decoration: underline;
}

.boxed {
  text-align: center;
  color: white;
  padding: 0.25rem;
  line-height: 2rem;
  width: auto;
  background-color: gray;
  font-weight: 700;
}