@media (max-width: 1024px) {
  .single_post_title {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  .single_post_title {
    font-size: 5rem;
  }
}

.single_post_title {
  margin: 2rem 0 1rem 0;
}

.featured_image {
  max-width: 100%;
}

.metadata_format {
  font-size: 1.25rem;
}

.metadata {
  margin-bottom: 3rem;
}

.category_format {
  & > span {
    font-size: 1.25rem;
    text-align: center;
    color: white;
    padding: 0.25rem;
    line-height: 3rem;
    width: auto;
    background-color: gray;
    font-weight: 700;
  }
}